:root {
	--primary-color: #d0c8c0;

	--primary-background: #404040;
	--secondary-background: #504840;


	/* cactus green */
	/*
	--primary-link-color: #9fbfa6;
	--primary-link-hover: #b4d9bd;
	 */
	/* mountain wheat */
	--primary-link-color: #9C916D;
	--primary-link-hover: #B5AD92;

	--primary-black: #2a332c;
	--primary-gray: #b0b0b0;
	--primary-white: #e0e0e0;

	--secondary-black: #3f4d42;
	--secondary-gray: #c0c0c0;
	--secondary-white: #f0f0f0;

	--text-black: var(--primary-black);
	--text-white: var(--primary-white);

	/*
	cactus: A0C0A8

	80%: #a9ccb1
	75%: #a0c0a8
	70%: #92b399
	50%: #6a806f
	30%: #3f4d42
	20%: #2a332c
	 */
}

body {
	color: var(--primary-color);
	background-color: var(--primary-background);

	margin: 0;
	padding: 0;

	font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
	'Oxygen', 'DejaVu Sans', 'Cantarell', 'Fira Sans', 'Droid Sans',
	'Helvetica Neue', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--primary-link-color);
	text-decoration: none;
}

a:hover {
	color: var(--primary-link-hover);
}

code {
	font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', 'monospace';
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 1rem 0 0 0;
	white-space: nowrap;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
	margin: 1rem 0 0 0;
	white-space: nowrap;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0.8rem 0 0 0;
	white-space: nowrap;
}

h4 {
	font-size: 1.8rem;
	font-weight: normal;
	margin: 0.7rem 0 0 0;
	white-space: nowrap;
}

h5 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0.6rem 0 0 0;
	white-space: nowrap;
}

h6 {
	font-size: 1.2rem;
	font-weight: normal;
	margin: 0.5rem 0 0 0;
	white-space: nowrap;
}

.app {
	background-color: var(--primary-background);
	min-height: 100vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.header {
	padding: 0.5rem;
	background-color: var(--secondary-background);

	align-self: stretch;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.menu {
	align-self: stretch;

	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.menuitem {
	margin: 0 1em 0 0;
	display: flex;
	flex-flow: column nowrap;
}

.content {
	max-width: 60rem;
	min-width: 10rem;

	padding: 0 1rem 0 1rem;

	flex: 100 1 auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.content table {
	margin: 0.5em 0 0.5em 0;
	display: table; border-collapse: separate; border-spacing: 2px;
	background: var(--secondary-black);
}

.content tbody {
	display: table-row-group; vertical-align: middle; border-color: inherit;
}

.content td {
	display: table-cell; vertical-align: inherit;
	background: var(--primary-black);
}

.row {
	align-self: stretch;

	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
}

.column {
	display: flex;
	flex-flow: column nowrap;
}

.footer {
	padding: 0.5rem;
	background-color: var(--secondary-background);

	align-self: stretch;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.footer .copyright {
}

.footer .tagline {
}

.member {}

.member .photo {
	margin: 0.5rem;
	width: 128px;
	height: 128px;
}

.member .badge {
	margin: 0.5rem;
	width: 128px;
	height: 128px;
}

/* The adjustment styles need to stay at or near the bottom */
.center {
	align-items: center;
}

.no-margin {
	margin: 0;
}

.no-wrap {
	white-space: nowrap;
}

