name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

env:
  DSR_GPG_PASSWORD: ${{ secrets.DSR_GPG_PASSWORD }}
  DSR_REPO_USERNAME: ${{ secrets.DSR_REPO_USERNAME }}
  WEBSITE_DEPLOY_PATH: '/opt/dsr/web'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6

      - name: Fetch CI/CD resources
        uses: actions/checkout@v6
        with:
          repository: desertskyrangers/cicd
          path: .github

      - name: Configuration
        shell: bash
        run: |
          source .github/config.sh

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install
        run: npm install

      - name: Test
        run: npm test

      - name: Build
        run: npm run build

      - name: Deploy
        run: |
          ssh -t ${{env.DSR_REPO_USERNAME}}@desertskyrangers.org "mkdir -p ${{env.WEBSITE_DEPLOY_PATH}};" 2>&1
          if [ $? -ne 0 ]; then exit 1; fi
          scp -r -B build/* ${{env.DSR_REPO_USERNAME}}@desertskyrangers.org:${{env.WEBSITE_DEPLOY_PATH}} 2>&1
          if [ $? -ne 0 ]; then exit 1; fi
